
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width:100%;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 8%;
    background-attachment: fixed;
    padding-right: 8%;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/background.png);
}

.navbar{
    height:12%;
    display:flex;
    align-items: center;
}
.logo{
    width:135px;
    height:55px;
    border-radius: 6%;
    cursor:pointer;
}
.menu-icon{
    width:30px;
    
    cursor:pointer;
    margin-left: 40px;
}

nav{
    flex:1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 13px;
}
.row{
    display:flex;
    height:88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}

h1{
    color:white;
    font-size: 100px;
}
p{
    color:white;
    font-size:14px;
    line-height:15px;
}
button{
    width:200px;
    color:#000;
    font-size:15px;
    padding:14px 0;
    background:white;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
button:hover{
    cursor: pointer;
}

.card{
    width:300px;
    height: 330px;
    display:inline-block;
    border-radius: 10px;
    padding:15px 25px;
    box-sizing: border-box;
    cursor:pointer;
    margin:10px 15px;
    background-size: cover;
    transition:transform 0.5s;
}
.card1{
    background-image: url(images/pic-1.png);
}
.card2{
    background-image: url(images/pic-2.png);
}
.card3{
    background-image: url(images/pic-3.png);
}
.card4{
    background-image: url(images/pic-4.png);
}

.card:hover{
    transform:translateY(-10px);
}
h5{
    font-size: 20px;
    color: white;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 10px;
}

/*-------------RECIPES-----------*/

.sub-title{
    text-align: center;
    font-size: 50px;
}
.detail-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
}
.detail{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.detail img{
    width:100%;
    border-radius: 10px;
    display:block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6),#2e622a);
    border-radius: 10px;
    position:absolute;
    left: 0;
    bottom:0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.75s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color:#209d19;
    text-decoration: none;
    font-size: 23px;
    line-height: 60px;
    background: rgb(245, 240, 240);
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    padding: 15px;
    

}

.detail:hover img {
    transform: scale(1.05);
    cursor: pointer;
}

.detail:hover .layer{
    height:100%;
    cursor: pointer;
}

.btn{
    display:block;
    margin:50px auto;
    width:fit-content;
    border:1px solid #93de8e;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:white;
    transition: background 0.5s;
}

.btn:hover{
    background: #93de8e;
}
input{
    display:none;
}
.main-container{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    width:100%;
    text-align: center;
}

.main-container h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin:40px 0; 
}
.main-container h1::before{
    content:'';
    position: absolute;
    width:100px;
    height:3px;
    background-color: crimson;
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}
.top-content{  
    background-color: rgb(95, 40, 40);
    width:90%;
    margin: 0 auto 20px auto;
    height:60px;
    display:flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: ;
}
.main-container h3{
    height:100%;
    background-color: lightgray;
    line-height: 60px;
    padding:0 50px;
    color:white;
}

@keyframes animate{
    0%{
        width:100px;
    }
    50%{
        width:200px;
    }
    100%{
        width:100px;
    }
}
